<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launch"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.FirstLineOfCodeDemo">
        <activity
                android:name="com.ly.ch03.MainActivity"
                android:exported="true">

        </activity>
        <activity
                android:name="com.ly.ch03.DialogActivity"
                android:exported="false"
                android:theme="@style/Theme.AppCompat.Dialog"/>
        <activity
                android:name="com.ly.ch03.NormalActivity"
                android:exported="false"/>
        <activity
                android:name="com.ly.ch03.ThirdActivity"
                android:exported="true"
                android:screenOrientation="sensor"
                tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.ly.ch03.SecondActivity"
                android:exported="false"
                android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.ly.ch01.ACTION_START"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.ly.ch01.MY_CATEGORY"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.ly.ch03.FirstActivity"
                android:exported="true"
                android:launchMode="singleTask"
                android:screenOrientation="sensor">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
    </application>

</manifest>